
# [submodule "blt"]
# 	path = dependencies/blt
# 	url = https://github.com/LLNL/blt.git

[submodule "dependencies/nsys_easy"]
	path = dependencies/nsys_easy
	url = https://github.com/harrism/nsys_easy
[submodule "dependencies/SDL"]
	path = dependencies/SDL
	url = https://github.com/libsdl-org/SDL.git

[submodule "dependencies/SDL_shadercross"]
	path = dependencies/SDL_shadercross
	url = https://github.com/libsdl-org/SDL_shadercross
